<h1> Productos</h1>
    <p >
        <div class="container">
            
            <h1>Lista de Productos</h1>
            {{#if productos }}
                <table class="table table-hover", border="1">
                    <thead>
                        <tr>
                            <th>Codigo</th>
                            <th>Descripcion</th>
                            <th>Stock</th>
                            <th>Precio</th>
                            <th>Marca</th>
                            <th>Modelo</th>
                            <th>Categoria</th>
                            <th>Fecha de produccion</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{# each productos }}
                        <tr>
                            <td><a href="/productos/show/{{ _id }}">{{ codigo }}</a></td>
                            <td>{{ descripcion }}</td>
                            <td>{{ stock }}</td>
                            <td>{{ precio }}</td>
                            <td>{{ marca }}</td>
                            <td>{{ modelo }}</td>
                            <td>{{ categoria }}</td>
                            <td>{{ fecha_produccion }}</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            {{~^~}}
                <div>Productos no encontrados.</div>
            {{/if}}
        </div>
    </p>